@model TourismWebApp.ViewModels.TravelViewModel

<div align="center" class="row mt-5 mb-2 container center-block text">
    <h2 class="center-block">@Model.travel.Name</h2>
    <div class="single-img-container">
        <img src="@Model.travel.ImgUrl" />
    </div>
    <a class="reference" href="/TravelOrganizer/GetTOByName?name=@Model.travel.TravelOrganizerName">
        <h3>Организатор: @Model.travel.TravelOrganizerName</h3>
    </a>
    <a class="reference" href="/TourismType/GetTTByName?name=@Model.travel.TourismTypeName">
        <h3>Тип путешествия: @Model.travel.TourismTypeName</h3>
    </a>
    <p>@Model.travel.Desc</p>
    <h3>Контакты:</h3>
    <h4>Номер организатора: @Model.TravelOrganizerPhone</h4>
    <h4>Email организатора: @Model.TravelOrganizerEmail</h4>
</div>