@model TourismWebApp.ViewModels.TourismTypeViewModel

<div align="center" class="row mt-5 mb-2 container center-block text">
    <h2 class="center-block">@Model.TourismType.Name</h2>
    <div class="single-img-container">
        <img class="img-thumbnail" src="@Model.TourismType.ImgUrl" />
    </div>
    <p>@Model.TourismType.Desc</p>
</div>
<div class="container-fluid content-container">
    <div class="row">
        @foreach (var travel in Model.Travels)
        {
            <div class="col-md-4">
                <h4 style="text-align:center">@travel.Name</h4>
                <a href="/Travel/GetTravelById/@travel.Id">
                    <img src="@travel.ImgUrl" />
                </a>
                <h4 style="text-align:center">Организатор: @travel.TravelOrganizerName</h4>
                <h6>@travel.Desc</h6>
                <br />
                <br />
            </div>
        }
    </div>
</div>
