@model TourismWebApp.ViewModels.TravelOrganizersViewModel

<div class="container-fluid content-container">
    <div class="row">
        @foreach (var travelOrganizer in Model.TravelOrganizers)
        {
            <div class="col-md-4">
                <h4 style="text-align:center">@travelOrganizer.Name</h4>
                <a href="/TravelOrganizer/GetTOById/@travelOrganizer.Id">
                    <img src="@travelOrganizer.ImgUrl" />
                </a>
                <p>@travelOrganizer.Desc</p>
                <h5>Контактные данные:</h5>
                <h6>Номер телефона: @travelOrganizer.PhoneNumber</h6>
                <h6>Email организатора: @travelOrganizer.Email</h6>
                <br />
                <br />
            </div>
        }
    </div>
</div>